In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
list(range(10,20,3))

[10, 13, 16, 19]

In [5]:
# WAP to print the values 0 to 9 using syntax 1
for n in range(10): 
    print(n)

0
1
2
3
4
5
6
7
8
9

In [1]:
# WAP to print the values 1 to 10 using syntax 2
for n in range(1,11): #11-1=10
    print(n)

1
2
3
4
5
6
7
8
9
10

In [11]:
# WAP to print the values 10 to 100 with the gap of 10 using syntax 3
for n in range(10,101,10):
    print(n)

10
20
30
40
50
60
70
80
90
100

In [10]:
# WAP to input a number and show table of that number
num=int(input("Enter a number "))
for i in range(1,11):
    print(num*i)

Enter a number 12
12
24
36
48
60
72
84
96
108
120