In [52]:
x=[123,456,89,23]

In [53]:
x

[123, 456, 89, 23]

In [6]:
y=[5,"Rohit",9.4]

In [7]:
y

[5, 'Rohit', 9.4]

In [8]:
z=[]

In [9]:
z

[]

In [17]:
x=[]
x.append(12)
print(x)
x.append(89)
print(x)
x.append(5)
print(x)
x.insert(0,99) # 0 is index and 99 is value
print(x)
x.sort() # arranging values in  ascending order
print(x)
print(x[::-1]) # arranging values in descending order
x[1]=123 # update the value at index 1
print(x)
del x[1] # remove the values at index 1
print(x)

[12]
[12, 89]
[12, 89, 5]
[99, 12, 89, 5]
[5, 12, 89, 99]
[99, 89, 12, 5]
[5, 123, 89, 99]
[5, 89, 99]

In [23]:
x=(4,9,12)
print(x)
print(x[1])
del x[1] # error

(4, 9, 12)
9

TypeError: 'tuple' object doesn't support item deletion

In [31]:
ccodes={}
ccodes["India"]=92
ccodes["Pakistan"]=92
ccodes["US"]=1
print(ccodes)

{'India': 92, 'Pakistan': 92, 'US': 1}

In [27]:
for k in ccodes.keys() : print(k)

India
Pakistan
US

In [28]:
for v in ccodes.values() : print(v)

91
92
1

In [50]:
for k,v in ccodes.items(): print(k,v)

India 92
Pakistan 92
US 1

In [32]:
x=[5,9,12,5,89,12,67,5]
print(x)

[5, 9, 12, 5, 89, 12, 67, 5]

In [41]:
y=set(x)
print(y)

{67, 5, 9, 12, 89}

In [43]:
for v in y: print(v)

67
5
9
12
89

In [44]:
x=[9,2,3,8,12]
for n in x: print(n)

9
2
3
8
12

In [45]:
x=[9,2,3,8,12]
for n in x: print(n,end=' ')

9 2 3 8 12

In [46]:
x=[9,2,3,8,12]
for n in x: print(n,end='')

923812

In [47]:
x=[9,2,3,8,12]
for n in x: print(n,end=',')

9,2,3,8,12,

In [49]:
x=[3,9,12,11,56]
print(x)
y=tuple(x)
print(y)

for n in y : print(n)

[3, 9, 12, 11, 56]
(3, 9, 12, 11, 56)
3
9
12
11
56